<h2><%= view_data.album.name %> Photo Album</h2>
<div>
  by <a href="/people/<%= view_data.album.person.id %>"><%= view_data.album.person.name %></a>
</div>
<% if view_data.album.pictures.blank? %>
  <p class='empty'>There are no pictures in this album.</p>
<% else %>
  <%= view_data.album.pictures.count %> pictures in this album.</p>
  <table><tr>
  <% view_data.album.pictures.each_with_index do |picture, index| %>
    <%= (index > 1 && index % 6 == 0) ? "</tr><tr>" : "" %>
    <td><%= html.render_partial("thumbnail_picture", picture, :width => 96, :height => 96, :thumbnail => :true) %></td>
  <% end %>
  <tr></table>
<% end %>
<p class='add'><a href="/albums/<%= view_data.album %>/pictures/new">Add a Picture</a></p>
