<h2><%= model.title %></h2>

<div class="picture">

  <div class="credits">
    by <a href="/people/<%= model.person.id %>/pictures"><%= model.person.name %></a>
    <% if model.album %>
      (part of the <a href="/albums/<%= model.album.id %>"><%= model.album.name %></a> album)
    <% end %>
  </div>

  <div class="resizing_controls">
    <a href="javascript:switchPictureResolution('small');" onclick="">Small (320x240)</a> | 
    <a href="javascript:switchPictureResolution('medium');" onclick="">Medium (640x480)</a> | 
    <a href="javascript:switchPictureResolution('full');" onclick="">Original</a>
  </div>

  <img src="http://localhost:4567/pictures/<%= model.id %>/serve" alt="<%= model.title %>" class='picture_medium' id='picture' />

  <% unless model.tags.blank? %>
    <h3>Tags: 
    <% for tag in model.tags %>
      <a href='/pictures/tagged?tag=<%= tag.name %>'><%= tag.name %></a>
    <% end %>
    </h3>
  <% end %>

  <% if current_person %>
    <div class="tagging">
      <form method="post" action="/pictures/<%= model.id %>/taggings">
        <input type="text" name="name" id="name" />
        <input type="submit" value="Tag it!" name="commit" />
        <input id="person_id" type="hidden" value="<%= model.person.id %>" name="person_id"/>
      </form>
    </div>
  <% end %>
  
</div>